{% extends 'core/base.html'%}
{% load static %}
{% block content %}
<div class="mt-5">
    <div class="text-center">
        <img src="{% static 'core/images/SIDD.png'%}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
    </div>
    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px"> I am <b class="text-warning">Siddharth Gautam </b> having """"
                Okay, so you’ve got an interview coming up and you know it’s probably going to start with some form of “tell me 
                about yourself.” Here’s what else you need to do to nail your answer.""""
                <p>This isn’t the only way to build your response, of course, and you can tweak it as you see fit. 
                    If there’s a particularly potent story about what brought you into this field, for example,
                    you might decide to start with that “past” story and then get into what you’re doing in the present.</p>
                <p>
                    Whatever order you pick, make sure you ultimately tie it to the job and company.
                    “A good place to end it is to give a transition of this is why I’m here,” Dea says. 
                    You want to be absolutely certain your interviewer is left with the impression that it
                     “makes sense that [you’re] sitting here talking to me about this role.”
                </p>
    
    
            </p>
        </div>
    </div>
    <div class="text-center">
        <a href="" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
        <a href="" class="btn btn-outline-info my-3">Contact</a>
    </div>
</div>
{% endblock content %}