{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">
        SERVICES
    </h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100" 
                aria-valuemin="0" aria-valuemax="100">100</div>
                </div>
            </div>

            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">Java</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" 
                    style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50</div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <h3 class="mt-5">Python</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" 
                        style="width:68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">68</div>
                        </div>
                    </div>

                    <div class="col-sm-5 offset-sm-2">
                        <h3 class="mt-5">Photoshop</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" 
                            style="width:76%" aria-valuenow="76%" aria-valuemin="0" aria-valuemax="100">76</div>
                            </div>
                        </div>

                        <div class="col-sm-5 ">
                            <h3 class="mt-5">Degital Markting</h3>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" 
                                style="width:64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100">64</div>
                                </div>
                            </div>

                            <div class="col-sm-5 offset-sm-2">
                                <h3 class="mt-5">Django</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" 
                                    style="width:45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45</div>
                                    </div>
                                </div>

                                <div class="col-sm-5 ">
                                    <h3 class="mt-5">PPT</h3>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" 
                                        style="width:87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">87</div>
                                        </div>
                                    </div>


                                    <div class="col-sm-5 offset-sm-2">
                                        <h3 class="mt-5">Java Programing</h3>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" 
                                            style="width:10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10</div>
                                            </div>
                                        </div>

        </div>
    </div>


{% endblock content %}